@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }

    #{$property}: $value;
}

@mixin surface($property, $surface) {
    #{$property}: rgb(0, 0, 0);
    #{$property}: rgb(var(--color-#{$surface}-surface, 0, 0, 0));
}

@mixin on-surface($property, $surface) {
    #{$property}: rgb(0, 0, 0);
    #{$property}: rgb(var(--color-on-#{$surface}, 0, 0, 0));
}

:host {
    font-size: 14px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 4px;
    background: transparent;
    height: 2.571em;

    &[variant=icon] {
        border-radius: 50%;
        /* height: 2.8571em; */
        height: unset;

        button {
            padding: 0.5714285714285714em;
            height: 2.857142857142857em;
            width: 2.857142857142857em;

            rm-icon {
                font-size: 1.7142857142857142em;
            }
        }
    }

    &[variant="unelevated"],
    &[variant="raised"] {
        @include surface(background, white);
        @include on-surface(color, white);
    }
}

button {
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    padding: 0 16px;
    border-radius: inherit;
    background: inherit;
    box-sizing: border-box;
    vertical-align: inherit;
    width: 100%;
    height: 100%;
    color: inherit;
    outline: none;
    /* https://stackoverflow.com/a/21003770/9228492 */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    @include prefix(user-select, none, webkit khtml mox ms);
    position: relative;

    @at-root :host[dense-padding] & {
        padding: 0 8px;
    }

    &::-moz-focus-inner {
        border: none;
    }
}